<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=tollboth;AccountKey=rFfde0pqafFKsc4pZ1Bo4203Gb/H4wTLjrexXIg/pcdVfq7YF1hlCTXT0BeFdIcCwKlSzqKD0h40hDk8uLvgHQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>